

nav
  background: $bg-color
  color: $white
  padding: 10px 20px
  .message
    float: right
main
  position: relative
article
  margin: 5px
  border-radius: 3px
  background: #e9e9eb
  max-height: 85vh
  min-width: 200px
  min-height: 80px
  overflow: auto
  // new layout without coloumns
  display: inline-block
  float: left
  //background: rgb(242, 242, 242)
  //transition: all .1s ease
  //transform: translate(0px)
article:focus
  outline: none
article.draggable
  position: absolute
article.draggable:focus
  border: 1px solid #e9e9eb
  outline: 3px dashed $bg-color
  z-index: 2

article
  header
    background: $bg-color
    color: $white
    padding: 2px 4px
    position: sticky
    top: 0
    z-index: 1
    .renamable::before
      content: " - "
article.draggable
  header:hover
    cursor: grab
article
  main
    padding: 5px


button
  padding: 5px 10px
  margin-right: 10px
.column
  display: inline-block
  float: left
  width: 50%


fieldset
  .crud-container
    float: right
    button
      margin-top: 10px
  select
    padding: 0.4em
    max-width: 200px

  .drop-region
    background-color: #fff
    border-radius: 2px
    border: 2px dashed  #ccc
    padding: 20px
    text-align: center
    cursor: pointer
    margin-top: 10px
  img
    max-width: 180px
    display: block
    margin-top: 10px