

nav
  background: $bg-color
  color: $white
  padding: 10px 20px
  //justify-content: flex-start
main
  position: relative
article
  margin: 5px
  border-radius: 3px
  background: #e9e9eb
  //transition: all .1s ease
  //transform: translate(0px)
article:focus
  border: 1px solid #e9e9eb
  outline: 3px dashed $bg-color
  z-index: 2
  //position: absolute
article
  header
    background: $bg-color
    color: $white
    padding: 2px 4px
  header:hover
    cursor: grab
