<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="New Nexusweb">
        <title>New Nexusweb</title>
    </head>
        <body>

        <h1>ok</h1>
            <div id="app"></div>
            <pre id="hash-logger" class="log-area"></pre>
            <pre id="state-logger" class="log-area"></pre>

        </body>
</html>