<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="New Nexusweb">
        <title>otp dashboard</title>
    </head>
        <body>

            <otp-header></otp-header>

            <div>
                <label>
                    move ?
                    <input name="move" type="checkbox">
                </label>
            </div>

            <main>
<!--                <div class="column">-->
                    <article id="tests" style="width: 220px; height: 80px;" tabindex="0">
                        <header>tests</header>
                        <main></main>
                    </article>
                    <article id="test-definition" style="width: 400px; min-height: 300px;" tabindex="0">
                        <header>test-definition</header>
                        <main></main>
                    </article>
<!--                </div>-->
<!--                <div class="column">-->
                    <article id="studies" style="width: 260px; min-height: 80px;" tabindex="0">
                        <header>studies</header>
                        <main>
                            no active studies for the selected test
                            <button>
                                create a study from the currently selected test
                            </button>
                        </main>
                    </article>
<!--                </div>-->

            </main>

        </body>
</html>