<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="New Nexusweb">
        <title>New Nexusweb</title>
    </head>
        <body>

            <otp-header></otp-header>

            <div>
                <label>
                    move ?
                    <input name="move" type="checkbox">
                </label>
            </div>

            <main>
                <article id="tests" style="width: 200px; height: 80px;" tabindex="0">
                    <header>tests</header>
                    <main></main>
                </article>
                <article id="test-definition" style="width: 300px; min-height: 300px;" tabindex="0">
                    <header>test-definition</header>
                    <main></main>
                </article>

            </main>

        </body>
</html>