<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="New Nexusweb">
        <title>otp dashboard</title>
    </head>
        <body>

            <otp-header></otp-header>

            <div>
                <label>
                    move ?
                    <input name="move" type="checkbox">
                </label>
            </div>

            <main>

                <article id="tests" style="width: 220px; height: 80px;" tabindex="0">
                    <header>tests</header>
                    <main></main>
                </article>

                <article id="test-definition" style="width: 400px; min-height: 300px;" tabindex="0">
                    <header>test-definition (template)</header>
                    <main></main>
                </article>

                <article id="studies" tabindex="0">
                    <header>studies</header>
                    <main>
                        no active studies for the selected test
                        <button>
                            create a study from the currently selected test
                        </button>
                    </main>
                </article>

                <article id="study" tabindex="0">
                    <header>study</header>
                    <main></main>
                </article>

                <article tabindex="0">
                    <header>iat</header>
                    <main>
                        <implicit-association-test></implicit-association-test>
                    </main>
                </article>

            </main>

        </body>
</html>