<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="Description" content="New Nexusweb">
        <title>New Nexusweb</title>
    </head>
        <body>

            <otp-header></otp-header>

            <div>
                <label>
                    move ?
                    <input name="move" type="checkbox">
                </label>
            </div>

            <main>
                <article style="width: 200px; height: 80px;" tabindex="0" id="tests">
                    <header>tests</header>
                    <main></main>
                </article>
                <article style="width: 80px; height: 200px;" tabindex="0">
                    <header>ciao2</header>
                    <main></main>
                </article>
                <article id="dragMe" style="width: 300px; height: 300px;" tabindex="0">
                    <header>ciao3</header>
                    <main></main>
                </article>

            </main>

        </body>
</html>